<!DOCTYPE html>
<html>
	<head>
		<title>
			panier
		</title>

		<link rel="stylesheet" type="text/css" href="{{ asset ("css/test.css") }}">

		<link rel="icon" type="image/x-icon" href="{{ asset ("favicon.ico") }}">

		<meta charset="utf-8">
	</head>

	<body>
		//?
	</body>
</html>