.corp
{
	background-color: #FFFFF0;
	border: 1px solid black;
	height: 600px;
}

.boucleDiv
{
	width:20%;
	float: left;
}

table
{
	color: black;
	width: 100%;
	height: 100px;
	overflow: hidden;
}
table img
{
	width:100%;
}

.details_infos
{
	width: 49%;
	border: 1px solid #FF0000;
	float: left;
	height: 700px;
}

.details_couverture
{
	width: 49%;
	border: 1px solid #00FF00;
	float: right;
	height: 700px;
}
.formulaire
{
	background-color: rgba(255, 255, 255, 0.5);
	border-width:2px;
	border-color:black;
	border-style: solid;
	width:18%;
	margin-left:40%;
	margin-top:20%;
	font-size:20px;
}
.formulaire a:hover , .formulaire a
{
	color:black;
}
.formulaire .style
{
	width: 100%;
	display: inline-block;
}
.formulaire .style input
{
	width: 50%;
	position: relative;
	float:right;
}
.bouton
{
	display: flex;
	height: 60px;
	position:relative;
	float:right;
}
.connexion
{
	margin-right:10px;
}
.inscription input , .connexion input
{
	background-color: rgba(255, 255, 255, 0.5);
	border:none;
}
.image
{
	background-image: url('../img/biblio.jpg');
	background-repeat:no-repeat;
	background-size: 100%;
	height: 300px;
	width:100%;
}
.recherche
{
	background-color:white;
	margin-top:1%;
	margin-bottom:2%;
}
