.corp
{
	background-color: #FFFFF0;
	border: 1px solid black;
	height: 600px;
}

.boucleDiv
{
	width:20%;
	float: left;
}
table
{
	color: black;
	width: 100%;
	height: 100px;
	overflow: hidden;
}
table img
{
	width:100%;
}
.formulaire
{
	background-color: rgba(255, 255, 255, 0.5);
	border-width:2px;
	border-color:black;
	border-style: solid;
	width:18%;
	margin-left:40%;
	margin-top:20%;
	font-size:20px;
}
.formulaire a:hover , .formulaire a
{
	color:black;
}
.formulaire .style
{
	width: 100%;
	display: inline-block;
}
.formulaire .style input
{
	width: 50%;
	position: relative;
	float:right;
}
.bouton
{
	display: flex;
	height: 60px;
	position:relative;
	float:right;
}
.connexion
{
	margin-right:10px;
}
.inscription input , .connexion input
{
	background-color: rgba(255, 255, 255, 0.5);
	border:none;
}
.image
{
	background-image: url('../img/biblio.jpg');
	background-repeat:no-repeat;
	background-size: 100%;
	height: 300px;
	width:100%;
}
.recherche
{
	background-color:white;
	margin-top:1%;
	margin-bottom:2%;
}
.details_infos
{
	width: 50%;
	float: left;
	background-color: #FFFFF0;
}
.details_infos table
{
	border:1px solid black;
	height: 400px;
}
.details_infos .bordure td 
{
	border-left: 1px solid black;
}
.details_infos .bordure td , .details_infos .bordure th
{
	border-bottom:1px solid black;
	
}
.details_couverture
{
	width: 50%;
	float: right;
	background-color: #FFFFF0;
}
.details_couverture img
{
	display: block;
    margin-left: auto;
    margin-right: auto
}